.clearfix{display: inline-block;}
.clearfix:after{display: block;content: ".";height: 0;line-height: 0;clear: both;visibility: hidden;}

ul{padding: 0;}
li{list-style: none;}
*{margin: 0;}
a{text-decoration: none;}